@model IEnumerable<User>

<h1>All Inactive Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserId)</th>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.UserName</td>
                <td>@user.CreatedAt</td>
                <td>
                    <form asp-action="ChangeStatus" asp-controller="User" asp-route-id="@user.UserId" method="post">
                        <button type="submit" class="btn btn-outline-danger">
                            Activate
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
